@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: "Martian Mono", monospace;
}

body {
  background-color: #000;
  color: #4ade80;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #22c55e33;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c55e66;
}
