{
  "openapi": "3.1.0",
  "info": {
    "title": "Ruben Marcus Portfolio API",
    "version": "1.0.0",
    "description": "Public machine-readable access to Ruben Marcus's portfolio and MCP server."
  },
  "servers": [{ "url": "https://www.rubenmarcus.dev" }],
  "paths": {
    "/api/mcp": {
      "get": {
        "summary": "Discover the MCP endpoint",
        "responses": { "200": { "description": "MCP server discovery document" } }
      },
      "post": {
        "summary": "Send a JSON-RPC request to the public MCP server",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": { "200": { "description": "JSON-RPC response" } }
      }
    },
    "/api/resume.json": {
      "get": {
        "summary": "Get the resume as JSON",
        "responses": { "200": { "description": "Structured resume" } }
      }
    },
    "/api/resume.txt": {
      "get": {
        "summary": "Get the resume as plain text",
        "responses": { "200": { "description": "Plain-text resume" } }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Check API health",
        "responses": { "200": { "description": "Service is operational" } }
      }
    },
    "/api/hire": {
      "post": {
        "summary": "Submit a project brief",
        "description": "Delivers a project inquiry through the configured private lead destinations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "contact", "brief"],
                "properties": {
                  "name": { "type": "string", "maxLength": 120 },
                  "contact": { "type": "string", "maxLength": 160 },
                  "brief": { "type": "string", "maxLength": 4000 },
                  "budget": { "type": "string", "maxLength": 120 },
                  "agent": { "type": "string", "maxLength": 80 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Lead accepted and delivered" },
          "400": { "description": "Invalid request" },
          "502": { "description": "No lead destination accepted the request" }
        }
      }
    }
  }
}
